.Navigation-listOfUsers {
    font-size: 25px;
    display: flex;
    align-items: center;

    background-color: #0F6FA9;
    height: 100px;
    color: white;

    .navigation-leftSide {
        display: inline-flex;
        flex-grow: 1;
        margin-left: 30px;

    }

    .navigation-rightSide {
        display: flex;

    }



    .Messenger {
    }

    .Chats {

    }

    .searchField {
        border: none;
        padding-left: 10px;
        // text-align: center;
        border-radius: 20px;
        // background-color: #305075;
        background-color: #036;
        font: 13px Tahoma, Arial, sans-serif;
        outline: none;
        &:focus {
          background: #E8E8E8;
          color: #333;
        }
    }

    .ddList {
        margin: 0 30px;
        font-weight: bolder;
        transform: rotate(-90deg);
    }
}
